<!-- If necessary, you can replace some of this with the navigation header -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realtime Notifications</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class="main-content">
            <h1>Notifications</h1>
            <div class="notifications-container" id="notifications-container">
                <!-- Notifications probably go here. Likely with your frontend.js -->
            </div>
        </main>
        <script src="/frontend.js" type="application/javascript"></script>
    </body>
</html>
