<!-- If necessary, you can replace some of this with the navigation header -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realtime Notifications</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class="main-content">
            <h1>Realtime Notifications</h1>
            <span class="index-button-container">
                <button onclick="window.location.href='/login'">Login</button>
                <button onclick="window.location.href='/signup'">Sign Up</button>
            </span>
        </main>
    </body>
</html>
