<!-- If necessary, you can replace some of this with the navigation header -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realtime Notifications</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main class="main-content">
            <h1>Sign Up</h1>
            <form action="/signup" method="POST">
                <div class="form-input-container">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-input-container">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="form-input-container">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <p><a href="/">Go back</a></p>
        </main>
    </body>
</html>
